html,body,canvas{
	margin:0px;
	padding:0px;
	border:0;
}

/*页面字体*/
.mainMenu{
	width:1024px;
	height:600px;
	background:#E1CAA1 url(../images/cardBack.jpg) no-repeat;
	font-size:27px;
	font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
	overflow:hidden;
}

.otherPage{
	/*background-image: url(../images/card_list.png), url(../images/militaryBg.jpg);
	background-position: left top, left top;
	background-repeat: no-repeat,repeat-y;
	background-attachment:scroll,fixed;*/

	font-size:27px;
	width:1024px;
	height:600px;
	font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
	overflow-x:hidden;
	background-color:#E1CAA1;
	}

.detailPage{
	/*background:#E1CAA1 url(../images/militaryBg.jpg) repeat-y;*/
	background-color:#E1CAA1;
	background-attachment:fixed;
	width:1024px;
	height:600px;
	font-size:27px;
	font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
	overflow-x:hidden;
	}

html{
  overflow:hidden;
}
	
/*规则页面按钮*/
.m_button{
	width:275px;
	height:80px;
	background:url(../images/StrategyButton.png);
	position: absolute;
	
	text-align: center;
    vertical-align: middle;
	
	font-family:Courier New, Helvtica, sans-serif;
	font-size:35px;
	/*text-shadow: rgba(10, 10, 10, 0.5) 2px 2px 5px;*/
	color: #fff;
	/*text-shadow: 0 0 1.2em #fff, 0 0 1.2em #fff;*/
	font-weight:bold;
	z-index:3;
	overflow: hidden;
}

.m_button:nth-child(1){
	top:160px;
	left:60px;
}

.m_button:nth-child(2){
	top:160px;
	left:380px;
}

.m_button:nth-child(3){
	top:160px;
	left:700px;
}

.m_button:nth-child(4){
	top:460px;
	left:60px;
}
.m_button:nth-child(5){
	top:460px;
	left:380px;
}
.m_button:nth-child(6){
	top:460px;
	left:700px;
}
.m_button:nth-child(7){
	top:50px;
	left:380px;
}

.m_button:hover{
	text-shadow: 0 0 0.2em #fff, 0 0 1.2em #fff;
	margin:7px 0px 0px 0px;
}
.m_button span{
	position:relative;
	top:23px;
}

/*详细攻略部分按钮*/
.detail_button{
	background-image:url(../images/military_page_button.png);
	width:288px;
	position:fixed;
	background-repeat:no-repeat;
	height:70px;
	
	font-family: Courier New, Helvetica, sans-serif;
	font-size:120%;
	font-weight:bold;
    color: #fff;
    text-shadow: rgba(10, 10, 10, 0.5) 2px 2px 2px;
    text-align: center;
	}
.detail_button span{
	vertical-align: middle;
	position:relative;
	top:28px;
	}	
	
.back_button{
	left:0px;
	top:530px;
	}
.back_index{
	left:736px;
	top:530px;
}
.detail_back{
	left:368px;
	top:530px;
}
.turn_top{
	left:375px;
	top:530px;
}
a.turn_top{
	padding-top:30px;
	text-decoration:none;
	}
.detail_back a{
	position:relative;
	top:30px;
	text-decoration:none;
	color:#ffffff;
}
.detail_button:hover{
	background-image:url(../images/military_page_button2.png);
	}

/*卡牌样式*/
#card_img{
	position:absolute;
	}

/*背景图片样式*/
.background_img{
	position:absolute;
	background-image: url(../images/militaryBg.jpg);
	left:0px;
	top:0px;
	display:none;
	z-index:-2;
	height:600px;
	width:1024px;
	position:fixed;
	background-repeat:repeat-y;
	}
/*卡牌列表界面顶部图片*/
.top_img{
	position:absolute;
	background-image: url(../images/card_list.png);
	left:0px;
	top:0px;
	display:none;
	z-index:-1;
	height:68px;
	width:1024px;
	position:scroll;
	}