html,canvas,body{
	margin:0px;
	padding:0px;
}
a:active, a:hover{
  outline: 0;
}
/*进度条插件*/
.jCProgress {
     position: absolute;
     z-index: 9999999;
     /*  margin-top:-15px; /* offset from the center */
}

.jCProgress > div.percent {
     font: 18px/27px 'BebasRegular', Arial, sans-serif;
     color:#ebebeb;
     text-shadow: 1px 1px 1px #1f1f1f;

     position:absolute;
     margin-top:40px;
     margin-left:22px;
     text-align: center;
     width:60px;
}
/*自定义进度条样式*/
#progress{
	position:fixed;
	top:40%;
	padding:0 50%;
	width:100%;
}
#progress .jCProgress{
  margin-left: -52px;
}
#start{
	position:fixed;
	top:40%;
	padding:0 10%;
	width:100%;
}
#mainmenu{
  width: 100%;
  background-color: #CFBAAA;
}

.mainmenu, .person-info, .search-info, .noCanvasTips, .rule-detail, .card-types, .card-detail, .heros-detail{
  display: none;
  position: relative;
}

.menu-nav{
  width:100%;
  margin: 0px 0px 0px !important;
  background-color: #CFBAAA;
}
.menu-nav li{
  padding: 0px !important;
  text-align: center !important;
  border-color: #357ebd !important;
}

.list-item-img{
  margin-right: 5px;
  width:65px;
  height:50px;
}

.dropup .list-group{
  margin-bottom: 0px !important;
}
.str-btn{
  border-bottom: 1px solid #ccc !important;
}
.dropup.str-btn{
  border-bottom: 0px solid #ccc !important;
}

.btn-pairs{
  width: 100% !important;
  border: 1px solid #ccc !important;
  /*border-top: 0px solid #ccc !important;*/
}
.btn-app, .btn-pairs{
  background-color: #FCF8E3 !important;
}
.btn-app:hover, .btn-pairs:hover{
  background-color: #FAF2CC !important;
}
.tkd-dropdown-menu{
  width: 100% !important;
  text-align: center !important; 
}
.tkd-dropdown-menu a{
  padding: 10px 16px !important;
}

.mainmenu .logo-brand{
  padding: 0px !important;
  line-height: 50px !important;
}
.logo{
  width:90px;
  height:35px;
}
.logo-brand{
  padding: 0px !important;
}
.navbar-form{
  border-width: 0px;
  padding: 10px 5px !important;
  margin-right: 0px !important;
}
.navbar-form .form-group{
  padding: 0px !important;
}

.navbar .navbar-header{
  padding: 10px 10px;
}

.tkd-navbar{
  top: 0;
  border-width: 0 0 1px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  -webkit-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.sub-navbar{
  top: 0 !important;
  border-width: 0 0 1px;
  position: fixed !important;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar{
  /*margin-bottom: 0px !important;*/
  margin:0px auto !important;
  width:100%;
}
.tkd-thumbnail{
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  text-align: center;
}

/*置顶小按钮*/
#backtotop{
  cursor: pointer;
  height: 50px;
  position: fixed;
  bottom: 100px;
  right: -60px;
  z-index: 9999;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
#backtotop.showme{
  right: 12px;
  -moz-transform: scale(1) rotate(-360deg) translate(0px);
  -webkit-transform: scale(1) rotate(-360deg) translate(0px);
  -o-transform: scale(1) rotate(-360deg) translate(0px);
  transform: scale(1) rotate(-360deg) translate(0px);
}
#backtotop .bttbg{
  width: 50px;
  height: 50px;
  background: url(../images/top_button.png) no-repeat 0 0;
}
#backtotop .bttbg:hover{
  background-position: left bottom;
}
.tkd-search{
  position: absolute !important;
  top: 10px !important;
  right: 20px !important;
}
.back-ico{
  line-height: 50px !important;
  font-size: 1.4em;
}
.search-cancel, .search-submit{
  font-weight: bold;
  text-align: center;
  color:#FD6D9E;
  line-height: 50px;
  font-size: 1.2em;
  cursor: pointer;
  padding-left: 0px !important;
}
.search-submit{
  display: none;
}
.search-info .form-group{
  margin: 8px 0px !important;
  padding-right: 0px !important;
}
.search-info input{
  padding-left: 25px !important;
}
.search-info .search-ico{
  position: absolute !important;
  top: 10px !important;
  left: 25px !important;
}
.search-info .search-close{
  position: absolute !important;
  top:3px !important;
  right: 10px !important; 
  font-size:30px !important;
}
.search-item{
  border-bottom: 1px solid #ccc;
}
.loading-cont{
  text-align: center;
  background-color: #fff;
  width:100%;
  z-index: 999;
}
.loading-ico{
  width: 85px;
  height: 85px;
  background: url(../images/loading.gif) no-repeat 0 0;
  margin: 0 auto;
}
.items-type{
  text-align: center;
  background-color: #f8f8f8;
  color: #FD6D9E;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
}
.heros-dropdownmenu.row{
  margin: 0px !important;
  background-color: #FCF8E3;
}
.sub-page.row{
  margin: 0px !important;
  background-color: #fff;
  min-height: 300px;
}
.heros-dropdownmenu .dropdown{
  padding: 0px !important;
}
.heros-list{
  min-height: 550px;
}
.search-tips{
  text-align: center;
}
.rule-detail{
  text-align: left;
}
.sub-content{
  color: #666;
  font-size: 18px;
  line-height: 1.8em;
}
.content-heading{
  font-size: 18px;
  font-weight: bold;
}
.content-pager{
  position: fixed;
  bottom: 35px;
  width: 90%;
  font-size: 20px;
  margin: 0 5%;
}
.pager-tips{
  margin-left: 1em;
}
.blue{
  color: #2820DE;
}
.red{
  color: #CC0000;
}

/*二维码小图标*/
#rightDocker{
  position: fixed;
  top: 50%;
  margin-top: -40px;
  right: 0;
}

#rightDockerBtn{
  border-radius: 4px 0 0 4px;
}
#rightDockerBtn i{
  font-size: 28px;
  margin-top: 2px;
  display: block;
}
#dockerPopover{
  position: fixed;
}
.popover.left .arrow{
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0,0,0,.25);
}
.docker-right{
  vertical-align: middle;
}
.popover-content td{
  border-top: 0px !important;
  background-color: #ccc;
}
.popover-content .heading{
  text-align: center;
  color: #428bca;
  margin-bottom: 5px;
}
.icon-mobile-phone{
  font-size: 28px;
  color: #fff;
  background: #145CCD;
  display: inline-block;
  width: 36px;
  line-height: 36px;
  height: 36px;
  border-radius: 25px;
  vertical-align: middle;
  margin-right: 10px;
}
.docker-show{
  top: 155px; 
  left: 1060px; 
  display: block;
}

/*metro 风格颜色块*/
.tile{
  display: block;
  cursor: pointer;
  -webkit-perspective: 0;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .2s;
  float: left;
  min-width: 75px;
  min-height: 75px;
  text-align: center;
  opacity: .75;
  background-color: #2e8bcc;
  z-index: 1;
  border: 4px solid #fff;
  color: #fff;
}
.tile:hover{
  opacity: 1;
}
.tile.tile-medium{
  width:150px;
  height: 150px;
}
.tile-blue{
  background-color: #2e8bcc;
}
.tile-green{
  background-color: #393;
}
.tile-red{
  background-color: #e51400;
}
.tile-yellow{
  background-color: #ffc40d;
}
.tile-pink{
  background-color: #e671b8;
}
.tile-purple{
  background-color: #7b4f9d;
}
.tile-lime{
  background-color: #8cbf26;
}
.tile-magenta{
  background-color: #ff0097;
}
.tile-teal{
  background-color: #00aba9;
}
.tile-turquoise{
  background-color: #1abc9c;
}
.tile-green-sea{
  background-color: #16a085;
}
.tile-emerald{
  background-color: #2ecc71;
}

.tile h1, .tile h2, .tile h3, .tile h4, .tile h5, .tile h6{
  color: #fff;
  -webkit-user-select: none;
}
.tile a:hover{
  text-decoration: none;
}
/*二维码 显示隐藏样式*/
.popover.fade{
  display: none;
}
.popover.fade.in{
  display: block;
}