html,canvas,body{
	margin:0px;
	padding:0px;
}

/*¹Ì¶¨´°¿Ú*/
html{
	overflow:hidden;
}
body{
	overflow:hidden;
}

/*½ø¶ÈÌõ²å¼þ*/
.jCProgress {
     position: absolute;
     z-index: 9999999;
     /*  margin-top:-15px; /* offset from the center */
}

.jCProgress > div.percent {
     font: 18px/27px 'BebasRegular', Arial, sans-serif;
     color:#ebebeb;
     text-shadow: 1px 1px 1px #1f1f1f;

     position:absolute;
     margin-top:40px;
     margin-left:22px;
     text-align: center;
     width:60px;
}
/*ÆðÊ¼Ò³Ãæ*/
#progress{
	position:fixed;
	top:40%;
	padding:0 50%;
	width:100%;
}
#start{
	position:fixed;
	top:40%;
	padding:0 10%;
	width:100%;
}
#mainmenu{
  display: none;
  padding-top: 70px;
  width: 100%;
  /*background-color: #666;*/
  background-color: #CFBAAA;
}
.menu-nav{
  width:100%;
}
.list-item-img{
  margin-right: 5px;
}