<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:rim="http://www.blackberry.com/ns/widgets" version="1.0.0.0">
	<name>threeKingdoms</name>
	<author>webteam</author>
	<rim:orientation mode="landscape" />
	<icon src="icon.png"/>
	<content src="index.html"/>
</widget>